h1{ text-align: center;
}

.kalendar{ text-align: center;

}

table {
    border-collapse: collapse;
    margin:0  auto;
}

td, th {
    height: 30px;
    width: 80px;
    border-bottom: 2px solid rgb(216, 216, 216);
 }

th, td {
    text-align: center;
    padding: 12px;}


td:hover 
{background-color: rgb(216, 216, 216);}